# Question 1 
Write a program which will find all such numbers which are divisible by 7   but are not a multiple of 5, between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line.
## Hints : 
### Consider use range(#begin,#end)method.

### Using for Loops

In [1]:
l=[]
for i in range(2000,3201):
    if i%7 == 0 and i%5 != 0:
        l.append(str(i))
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Using generator and list comprehension.

In [2]:
l=list(range(2002,3200,7))
l2 = [str(a) for a in l if a%5 != 0]
print(','.join(l2))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Question 2
Write a program which can compute the factorial of a given numbers.The results should be printed in a comma-separated sequence on a single line.Suppose the following input is supplied to the program: 8 Then, the output should be:40320
    
### HInts : In case of input data being supplied to the question, it should be assumed to be a console input.

### Using While Loop.

In [3]:
n = int(input("Enter a Number: "))
f=i=1
while i<=n:
    f=i*f
    i=i+1
print(n,",",f)

Enter a Number: 3
3 , 6

### Using For Loop.

In [4]:
n = int(input("Enter a Number:"))
f=1
for i in range(1,n+1):
    f=i*f
print(n,",",f)

Enter a Number:4
4 , 24

# Question 3 
With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.Suppose the following input is supplied to the program: 8

Then, the output should be 
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Hints: In case of input data being supplied to the question, it should be assumed to be a console input.Consider use dict()

#### Using For Loop

In [5]:
n = int(input())
d = {}
for i in range(1,n+1):
    d[i] = i*i
print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Using dictionary comprehension

In [6]:
n = int(input())
d = {i:i*i for i in range(1,n+1)}
print(d)

9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Question 4
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.Suppose the following input is supplied to the program: 34,67,55,33,12,98

Then, the output should be:

['34', '67', '55', '33', '12', '98']

('34', '67', '55', '33', '12', '98')

### Hints: In case of input data being supplied to the question, it should be assumed to be a console input.tuple() method can convert list to tuple

In [7]:
n = input()
l = n.split(",")
print(l)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']

In [8]:
n = input()
t= tuple(n.split(","))
print(t)

34,67,55,33,12,98
('34', '67', '55', '33', '12', '98')

# Question 5
#### Define a class which has at least two methods:
1. getString: to get a string from console input.
2. printString: to print the string in upper case.

Also please include simple test function to test the class methods.

#### Hints: Use init method to construct some parameters

abcdef
ABCDEF

# Question:
Write a program that calculates and prints the value according to the given formula:

Q = Square root of [(2 _ C _ D)/H]

Following are the fixed values of C and H: C is 50. H is 30.

D is the variable whose values should be input to your program in a comma-separated sequence.For example Let us assume the following comma separated input sequence is given to the program: 100,150,180

The output of the program should be: 18,22,24
    
#### Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26).In case of input data being supplied to the question, it should be assumed to be a console input.

In [9]:
import math
C = 50
H = 30
n = input()
D = n.split(",")
f = []
for i in D:
    f.append(str(round(math.sqrt((2*C*int(i))/H))))
print(','.join(f))

100,150,180
18,22,24

# Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i _ j.*

Note: i=0,1.., X-1; j=0,1,¡­Y-1. Suppose the following inputs are given to the program: 3,5

Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]
    
#### Hints: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [10]:
rows = int(input("Input number of rows: "))
cols = int(input("Input number of columns: "))
l = [[0 for j in range(cols)] for i in range(rows)]
for i in range(rows):
    for j in range(cols):
        l[i][j]= i*j
print(l)

Input number of rows: 3
Input number of columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

# Question:
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

Suppose the following input is supplied to the program: 
   [ Hello world Practice makes perfect]
    
Then, the output should be:  [ HELLO WORLD PRACTICE MAKES PERFECT ] 

#### Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [11]:
a = input()
a.upper()

Hello world Practice makes perfect

'HELLO WORLD PRACTICE MAKES PERFECT'

In [12]:
s = input()
a = []
for i in s:
    a.append(i.upper())
print("".join(a))

Hello world Practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT

# Question:
Write a program that accepts a sentence and calculate the number of letters and digits.

Suppose the following input is supplied to the program :- hello world! 123 

Then, the output should be:

Letters 10

Digits 3

### Hints : In case of input data being supplied to the question, it should be assumed to be a console input.

In [13]:
s = input("Input a String :")
d=l=0
for i in s:
    if i.isalpha():
        l = l+1
    elif i.isdigit():
        d = d+1
    else:
        pass
print("letters", l)
print("digits", d)

Input a String :hello world! 123
letters 10
digits 3

# Question:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.

Suppose the following input is supplied to the program : - 9

Then, the output should be:- 11106

### Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [14]:
n = input()
n1 = n
f = int(n1)
for i in range(1,4):
    n = n+n1
    v = int(n)
    f = f + v 
print(f)

9
11106

# Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: 

D 100

W 200

D means deposit while W means withdrawal.

Suppose the following input is supplied to the program: 

D 300

D 300

W 200

D 100

Output should be :-  500

### Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [15]:
o = 0
for i in range(100):
    n = input()
    if n == "":
        break
    if n[1] != " ":
        print("Enter a space after D or W")
        continue
    a = n[0]
    if a!="D" and a!="W":
        print("Enter D or W")
        continue
    v = int(n[2:])
    if a == "D":
        o=o+v
    elif a == "W":
        o=o-v
    print("Your current balance is:",o)

D 5000
Your current balance is: 5000
w 2000
Enter D or W
W 2000
Your current balance is: 3000
D500
Enter a space after D or W
D 500
Your current balance is: 3500

# Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.

Following are the criteria for checking the password:

* At least 1 letter between [a-z]
* At least 1 number between [0-9]
* At least 1 letter between [A-Z]
* At least 1 character from [$#@]
* Minimum length of transaction password: 6
* Maximum length of transaction password: 12

Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.

#### Example

If the following passwords are given as input to the program:  [ ABd1234@1,  aF1#,2w3E*,  2We3345 ]

Then, the output of the program should be:   [ABd1234@1]

### Hints: In case of input data being supplied to the question, it should be assumed to be a console input.