# **String**

1. Write A program to return entire lowercase of a string.

  word = IANALYST INFOTECH

In [1]:
word = "IANALYST INFOTECH"
word.lower()

'ianalyst infotech'

2. Count athe number of a specific character in 'a' string.

  word = ianalyst

In [34]:
word = "ianalyst"
c=0
for i in word:
    if i == "a":
        c = c+1
print(c)

2

3. Write a Program to count total number of characters in a string.

  Word =  "iAnalyst Infotech"

In [4]:
word = "iAnalyst Infotech"
len(word)

17

4. Arrange string characters such that lowercase letters should come first.

  Given an input string with the combination of the lower and upper case arrange characters in such a way that all lowercase letters should come first.
  Given:

   str1 = PyNaTive
   
  Expected Output: yaivePNT

In [10]:
str1 = "PyNaTive"
sorted(str1)

['N', 'P', 'T', 'a', 'e', 'i', 'v', 'y']

## **List**

1. Concate two lists.

  one = [1,2,3]

  two = [4,5,6]

In [7]:
one = [1,2,3]
two = [4,5,6]
one+two

[1, 2, 3, 4, 5, 6]

2. Remove all element from the list.

  list = [1,2,3,4,5,6]

In [8]:
list = [1,2,3,4,5,6]
list.clear()
list

[]

3.  Given a Python list you should be able to display Python list in the following order.

    aLsit = [100, 200, 300, 400, 500]
    
    Expected output:[500, 400, 300, 200, 100]

In [15]:
aLsit = [100, 200, 300, 400, 500]
aLsit.reverse()
aLsit

[500, 400, 300, 200, 100]

# **Dictionary** 

1. Write a Python script to sum all the items in a dictionary.

  Dict = {100,-54,247}

In [87]:
Dict = {1:100,2:-54,3:247}
sum=0
for i in range(1,4):
    sum = sum + Dict.get(i)
print(sum)

293

2. Write a Python Script to check a dictionary is empty or not.

In [92]:
d1 = {1:100,2:-54,3:247}
d2={}
if bool(d2) == False:
    print("Empty")
else:
    print("non empty")

Empty

3. Write a Python script to add a key to a dictionary.

  Sample Dictionary: {0:10, 1:20}
  
  Add dict : {3:30}

In [18]:
Dict =  {0:10, 1:20}
Dict.update({3:30})
Dict

{0: 10, 1: 20, 3: 30}

4. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8

Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [28]:
a = int(input())
d = dict()
for i in range(1,a+1):
    d.update({i:i*i})
d

8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# **Tuple** 
 1. Write a Program to find the repeated items of a Tuple.

  Tuple = 2,4,5,6,7,4,8,4

In [106]:
Tuple = (2,4,5,6,7,4,8,4,8)
l=[]
for i in Tuple:
    if Tuple.count(i)>1:
        l.append(i)
while i

4
4
8
4
8

2. Check if all items in the following tuple are the same.

  tuple1 = (45, 45, 45, 45)

  Expected output:True

In [60]:
tuple1 = (45, 45, 45, 45, 45)
a=0
for i in range(len(tuple1)-1):
    if tuple1[i] == tuple1[i+1]:
        a=a+1
if a==len(tuple1)-1:
    print(True)
else:
    print(False)

True

In [53]:
tuple1 = (45, 45, 45, 45)
for i in range(len(tuple1)-1):
    print(i)

0
1
2

3. Copy element 44 and 55 from the following tuple into a new tuple.

    tuple1 = (11, 22, 33, 44, 55, 66)

    Expected output:tuple2 = (44, 55)

In [41]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = (tuple1[3:5])
tuple2

(44, 55)

# Condition Statement and loops 
1. Display -10 to -1 usning Loop .

In [61]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

2. Write a Python program to print Fibonacci series between 0-50.

In [66]:
a = 0
b = 1
n = 50
while a <= n:
    print(a)
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

3. Exercise Question 3: Accept number from user and calculate the sum of all number between 1 and given number.

For example user given 10 so the output should be 55

In [72]:
n = int(input())
l=[]
for i in range(n+1):
    l.append(i)
sum(l)

10

55

4. Print First 10 natural numbers using while loop .

In [73]:
i = 1
n = 10
while i <=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10